# Choix de l'implémentation des sequences
Sequence=Liste

# Décommenter la bonne ligne pour décider à partir de quel
# niveau de sévérité les messages de log s'affichent
#LogLevel=SEVERE
LogLevel=INFO
